.Calendar
  $c = {
    text: #6C464F
    border: #C1C1C1
    cell: #9E768F
    cellActive: #6C464F
  }
  
  switchColorSet(activeSelector)
    background-color: $c.cell
    color: $c.cellActive
    
    &{activeSelector}
      background-color: $c.cellActive
      color: $c.cell
    

  &, *
    margin: 0
    padding: 0
    box-sizing: border-box

  &
    width: 100%
    font: 14px sans-serif
    border-collapse collapse
    table-layout fixed
    color: $c.text
    

  &__cell
    height: 50px
    vertical-align: middle
    text-align center
    border: 1px solid $c.border
    switchColorSet('.isSelected')
  
  &__dayKey
    width 10%
    min-width: 50px
    text-transform: uppercase
    color: #666
    font-size 16px

  &__daySelectAll
    min-width: 50px
    width 10%

  &__dayHour
    pass()
    
  &__caption
    font-weight: normal
    height: 40px

  &__captionAllDay
    text-transform: uppercase

  &__captionDayHour
    position relative
    padding: 0 5px
    &:before
      content ''
      display: block
      position absolute
      bottom 0
      left -1px
      height: 10px
      border-left: 2px solid $c.cellActive

  tbody > div > span // react-selection (selection area)
    border-color: $c.border !important
    


